* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Poppins";
  /*The h1 fade in animation keyframe */
}
body img {
  max-width: 100%;
  margin: auto;
  display: block;
  height: 170px;
}
body h1 {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2em;
  text-transform: capitalize;
  font-family: "Lobster";
}
body .fadein {
  -webkit-animation: 3s fadein forwards;
          animation: 3s fadein forwards;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
body .main-banner-bakery h2,
body .right-left-bakery h3,
body .header-of-about h3,
body .pop-up h3 {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  line-height: 0.2em;
  text-transform: uppercase;
  color: #ff6392;
}
body h2,
body .insc h2,
body .pop-up h2 {
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.2em;
  text-transform: capitalize;
}
body h3 {
  font-size: 22px;
  margin-top: 12px;
  font-weight: 600;
  line-height: 1.4em;
  text-transform: capitalize;
}
body h4 {
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: capitalize;
  font-family: "Lobster";
}
body h5 {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 4px;
  font-weight: 600;
  line-height: 1.7em;
  text-transform: capitalize;
  font-family: "Lobster";
}
body h6 {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 1.7em;
  text-transform: capitalize;
}
body p,
body .pop-up p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6em;
}

/* START OF POP-UP*/
body.popup-is-active {
  overflow-y: hidden;
}

body.popup-is-active .pop-up {
  display: block;
}

.pop-up {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

.popup-content {
  background: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  color: #000;
  padding: 20px 0;
  max-width: 800px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 80%;
  overflow: auto;
}

#close-btn {
  font-weight: 500;
  color: #fff;
  position: absolute;
  font-family: "Poppins";
  background-color: #ff6392;
  font-size: 20px;
  padding: 0 8px;
  border: none;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.pop-up input[name=buttonelement] {
  color: #000;
  background-color: #ff6392;
  display: inline-block;
  margin-top: 30px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: #fff;
  font-family: "Poppins";
  border-radius: 10px;
}

input[name=buttonelement]:hover {
  background: #fff;
  color: #000;
  text-decoration: underline;
}

.pop-up input[name=email] {
  background-color: transparent;
  color: #777;
  padding: 5px 5px;
  width: 335px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: "Poppins";
  border: 0.8px solid #ff6392;
  text-align: left;
  line-height: 2em;
  border-radius: 10px;
}

.pop-up label {
  font-size: 16px;
  color: #000;
  line-height: 2em;
  font-weight: 400;
  text-align: left;
  font-family: "Poppins";
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}
.card-flex .card-left {
  width: 100%;
  background: #fff;
}
.card-flex .card-right {
  width: 100%;
  height: 400px;
  background-image: url(https://www.sweetestmenu.com/wp-content/uploads/2023/02/lemonraspberrycake17a.jpg);
  background-size: cover;
  background-position: center;
  background-color: #e9ecef;
  border-radius: 18px;
}

form {
  padding: 10px 10px;
}

/* END OF POP-UP */
/*START OF HEADER - NAVIGATION */
.header {
  color: #231f20;
  background-color: #fffffc;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  -webkit-transition: 2s;
  transition: 2s;
}
.header .header-menu {
  list-style: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6em;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header .header-menu a {
  color: inherit;
  text-decoration: none;
}
.header .header-menu a:hover {
  text-decoration: underline;
}
.header .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  font-size: 16px;
  font-family: "Lobster";
  color: #ff6392;
  text-decoration: none;
}

.menu-holder button {
  color: #000;
  font-size: 30px;
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: #ff6392;
}

.burger-icon {
  font-size: 24px;
  display: none;
  color: #000;
  cursor: pointer;
}

.burger-icon:hover,
.header a:hover {
  color: #ff6392;
}

/* START OF MAIN BANNER*/
.main-banner-bakery {
  padding: 350px 0;
  text-align: center;
  color: #fff;
  background-image: url(https://lacasadolce.ca/cdn/shop/collections/3F0A8389_2.jpg?v=1649528636&width=1100);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: top right;
  -webkit-animation: zoomin 20s infinite;
          animation: zoomin 20s infinite;
}
@-webkit-keyframes zoomin {
  0% {
    background-position: center center;
    background-size: 120%;
  }
  50% {
    background-position: center center;
    background-size: 165%;
  }
  100% {
    background-position: center center;
    background-size: 120%;
  }
}
@keyframes zoomin {
  0% {
    background-position: center center;
    background-size: 120%;
  }
  50% {
    background-position: center center;
    background-size: 165%;
  }
  100% {
    background-position: center center;
    background-size: 120%;
  }
}
.main-banner-bakery hr {
  border: 0.8px solid #ff6392;
  max-width: 300px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  margin: 10px 0;
}

.btn-1 {
  color: #fff;
  background: rgb(255, 135, 2);
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 135, 2)), color-stop(61%, rgb(255, 0, 124)));
  background: linear-gradient(90deg, rgb(255, 135, 2) 0%, rgb(255, 0, 124) 61%);
  -webkit-animation: glossy 4s infinite;
          animation: glossy 4s infinite;
}

@-webkit-keyframes glossy {
  0% {
    opacity: 90%;
  }
  50% {
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    opacity: 100%;
  }
  100% {
    opacity: 90%;
  }
}

@keyframes glossy {
  0% {
    opacity: 90%;
  }
  50% {
    -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    opacity: 100%;
  }
  100% {
    opacity: 90%;
  }
}
.btn-2 {
  background: black;
  color: white;
}

.btn:hover {
  background: #ff6392;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 4px 8px rgba 0, 0, 0, 0.1;
          box-shadow: 0 4px 8px rgba 0, 0, 0, 0.1;
}

/*start right/left section */
.right-left-bakery {
  padding: 100px 0;
  margin: auto;
}
.right-left-bakery .coffee-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.right-left-bakery .coffee-left {
  width: 50%;
}
.right-left-bakery .special-p {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 1.6em;
  color: #000;
}
.right-left-bakery .coffee-right {
  width: 50%;
  height: 500px;
  background-image: url(https://lacasadolce.ca/cdn/shop/files/new_0003_GenerativeFill.jpg?v=1719517762&width=1500);
  background-size: cover;
  background-position: center;
}
.right-left-bakery h2 {
  font-family: "Lobster";
  font-size: 32px;
}

/*START OF GRID SECTION */
.bakery-grid {
  background-image: url(https://lacasadolce.ca/cdn/shop/collections/3F0A8389_2.jpg?v=1649528636&width=1100);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 90px 0;
}
.bakery-grid .coffee-grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.bakery-grid .coffee-card {
  padding: 10px 15px 10px;
  -webkit-box-shadow: 5, 5, 10px #777;
          box-shadow: 5, 5, 10px #777;
}
.bakery-grid .coffee-card .text-here h4 {
  text-align: left;
  color: #fff;
}
.bakery-grid .coffee-card .text-here p {
  text-align: left;
  color: #f5f3f4;
}

/*START OF 2-CARDS SECTION */
.card-2-coffee {
  padding: 50px 0;
}
.card-2-coffee .coffee2-card:nth-of-type(1) .image-here {
  height: 300px;
  max-width: 100%;
  background-image: url(https://lacasadolce.ca/cdn/shop/files/maplepancakecupcake_0000_GenerativeFill17.jpg?v=1719674629&width=1500);
  background-size: cover;
  background-position: center;
}
.card-2-coffee .coffee2-card:nth-of-type(2) .image-here {
  height: 300px;
  max-width: 100%;
  background-image: url(https://lacasadolce.ca/cdn/shop/files/IMG_1277_2_0005_Layer_0_0000_IMG_3280.jpg?v=1714839977&width=1500);
  background-size: cover;
  background-position: center;
}
.card-2-coffee .header-of-coffee {
  color: #000;
  max-width: 635px;
  line-height: 2em;
  text-align: center;
  padding-top: 20px;
  margin: auto;
}
.card-2-coffee .header-of-coffee h2 {
  font-family: "Lobster";
  font-size: 32px;
}
.card-2-coffee .second-grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding: 10px 0;
}
.card-2-coffee .coffee2-card {
  background: #fff;
  max-width: 100%;
  padding: 4px 4px 25px;
  -webkit-box-shadow: #333;
          box-shadow: #333;
}
.card-2-coffee p span {
  background-color: #ff6392;
  border: 1px solid rgb(254, 212, 212);
  padding: 4px;
  color: #fff;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6em;
  border-left: 3px solid #fff;
  text-transform: capitalize;
}
.card-2-coffee h3 {
  font-family: "Lobster";
}

/*START OF SLIDER */
.coffee-slider {
  padding: 20px 0;
  position: relative;
}
.coffee-slider .slick-arrow {
  position: absolute;
  z-index: 1;
  font-size: 0;
  width: 35px;
  height: 35px;
  background-image: url(arrow.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  border-radius: 30px;
  border: 2px solid #ff6392;
}
.coffee-slider .slick-prev {
  left: -20px;
  bottom: 50px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.coffee-slider .slick-next {
  bottom: 50px;
  right: -20px;
}
.coffee-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.coffee-slider .slick-dots button {
  font-size: 0;
  border: none;
  border-radius: 30px;
  background: black;
  width: 16px;
  height: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.coffee-slider .slick-dots .slick-active button {
  background-color: grey;
}
.coffee-slider .slick-dots button:hover {
  background-color: #ff6392;
  opacity: 70%;
}

/* FOOTER */
.coffee-footer {
  background: #fff;
  padding: 40px 0;
  color: #000;
}
.coffee-footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 80px;
}
.coffee-footer .contact-logos-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 15px;
}
.coffee-footer .contact-logos-flex i {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  background-color: #ff6392;
  border: 1px solid rgb(254, 212, 212);
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.coffee-footer .coffee-footer-left {
  width: 100%;
}
.coffee-footer .coffee-footer-right {
  width: 100%;
}
.coffee-footer ul {
  list-style: none;
}

/*THE ABOUT PAGE */
/*LEFT-RIGHT */
.about-section {
  padding: 55px 50px;
}
.about-section .parent-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.about-section .left-side {
  width: 60%;
  height: 470px;
  background-image: url(slices.png);
  background-size: cover;
  background-position: center;
}
.about-section .right-side {
  width: 40%;
}
.about-section .header-of-about h2 {
  font-family: "Lobster";
  text-align: center;
  margin-bottom: 30px;
}
.about-section .right-side h2 {
  font-family: "Lobster";
  text-align: left;
}
.about-section .header-of-about {
  text-align: center;
}

/* START OF FANCY BOX - GALLERY*/
.gallery1 {
  text-align: center;
  padding: 50px 0;
}
.gallery1 h2 {
  font-family: "Lobster";
  color: #000;
  text-align: center;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 12px;
  line-height: 1.2em;
  text-transform: capitalize;
}
.gallery1 .fa-arrow-pointer {
  rotate: 165deg;
  color: #ff6392;
  font-size: 20px;
  -webkit-animation: click 3s ease-in infinite;
          animation: click 3s ease-in infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
@-webkit-keyframes click {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes click {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.gallery1 .gallery1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery1 .preview-image1 img {
  width: 70%;
  height: auto;
  padding: 10px 0;
}
.gallery1 .hidden-images1 {
  display: none;
}
.gallery1 .hidden-images1 a {
  display: inline-block;
}

/*ABOUT PAGE FORM LAST SECTION FORM*/
.insc {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 99, 146, 0.5);
}
.insc label {
  font-size: 16px;
  color: #000;
  line-height: 1.6em;
  margin-top: 15px;
  font-weight: 400;
  display: block;
  text-align: center;
  font-family: "Poppins";
}
.insc input {
  font-size: 18px;
  color: fff;
  border-radius: 5px;
}
.insc input[name=name],
.insc input[name=lastname],
.insc input[name=email],
.insc input[name=phonenumber] {
  background-color: #fff;
  color: #777;
  padding: 8px 5px;
  width: 335px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  margin-bottom: 18px;
  font-family: "Poppins";
  text-align: left;
  border-bottom: 1px solid black;
}
.insc span i {
  background: #fff;
  color: #777;
  font-size: 14px;
  margin-bottom: 18px;
  border-radius: 5px;
  padding: 11px 8px;
}
.insc form {
  padding: 10px 10px;
  text-align: center;
  color: #000;
  max-width: 600px;
  width: 100%;
  margin: auto;
  background-blend-mode: overlay;
  background: #fff;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-filter: blur 16.1px;
          filter: blur 16.1px;
}
.insc input[name=buttonelement] {
  color: #000;
  background-color: #ff6392;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: #fff;
  font-family: "Poppins";
}
.insc input[name=buttonelement]:hover {
  background: #fff;
  color: #000;
  text-decoration: underline;
}
.insc p {
  color: #ff6392;
  font-weight: 400;
  font-size: 15px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 25px;
}
.insc form h2 {
  font-family: "Lobster";
}

/* RESPONSIVE / MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {
  .main-banner-bakery {
    padding: 300px 0;
  }
  .second-grid-parent {
    grid-gap: 15px;
  }
  .popup-content {
    padding: 10px;
  }
  .coffee-flex .coffee-left h2 {
    font-size: 28px;
  }
  .coffee-flex .coffee-left h3 {
    font-size: 14px;
  }
  .coffee-flex .coffee-left p,
  special-p {
    font-size: 14px;
  }
  .coffee-flex {
    gap: 35px;
  }
}
@media only screen and (max-width: 992px) {
  .main-banner-bakery {
    padding: 250px 0;
  }
  .header-menu {
    gap: 20px;
  }
  .bakery-grid .coffee-grid-parent {
    grid-gap: 15px;
  }
  .popup-content {
    padding: 8px;
  }
  .about-section {
    padding: 60px 50px;
  }
}
@media only screen and (max-width: 800px) {
  .burger-icon {
    display: block;
  }
  .menu-holder {
    display: none;
    height: 100%;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  body.nav-is-open .menu-holder {
    display: block;
  }
  .header-menu {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-menu a {
    font-size: 25px;
  }
  .menu-holder button {
    display: block;
  }
  .right-left-bakery {
    padding: 90px 0;
  }
  .right-left-bakery .coffee-flex {
    gap: 30px;
  }
  .bakery-grid .coffee-card {
    padding: 8px 10px 8px;
  }
  .bakery-grid .coffee-card .text-here {
    font-size: 14px;
  }
  .coffee2-card p {
    font-size: 14px;
  }
  .coffee2-card h3 {
    font-size: 20px;
  }
  .popup-content .card-left {
    padding: 8px 5px;
  }
  .popup-content .card-left h2 {
    font-size: 30px;
  }
  .popup-content .card-right {
    width: 90%;
  }
  .about-section p {
    font-size: 14px;
    line-height: 1.5em;
  }
  .gallery1 h2 {
    font-size: 35px;
  }
  .insc form {
    padding: 8px 8px;
  }
}
/* where things go vertical*/
@media only screen and (max-width: 768px) {
  .right-left-bakery p {
    text-align: left;
  }
  .bakery-grid .coffee-card .text-here {
    font-size: 14px;
  }
  .popup-content .card-right {
    display: none;
  }
  .pop-up input[name=email] {
    background-color: #fff;
  }
  .popup-content .card-left {
    background: rgb(250, 233, 233);
    border-radius: 10px;
  }
  .about-section {
    padding-bottom: 20px;
  }
  .right-left-bakery .coffee-flex {
    gap: 25px;
  }
  .gallery1 {
    padding: 15px 0;
  }
  .main-banner-bakery {
    padding: 200px 0;
  }
  .main-banner-bakery h1 {
    font-size: 40px;
  }
  .coffee-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coffee-flex .coffee-left {
    width: 100%;
    text-align: center;
  }
  .coffee-flex .coffee-right {
    width: 100%;
  }
  .bakery-grid .coffee-grid-parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card-2-coffee .second-grid-parent {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .about-section .parent-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .left-side {
    width: 100%;
    height: 350px;
  }
  .about-section .right-side {
    width: 100%;
  }
  .card-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card-left {
    width: 100%;
    text-align: center;
  }
  .card-right {
    width: 100%;
    height: 250px;
    background-position: center;
  }
  .pop-up input[name=buttonelement] {
    margin-top: 30px;
  }
  .pop-up input[name=email] {
    text-align: left;
    width: 100%;
  }
  .pop-up label {
    text-align: left;
  }
  .insc {
    padding: 20px 0;
  }
  .insc form {
    padding: 5px 5px;
  }
}
@media only screen and (max-width: 576px) {
  .main-banner-bakery {
    padding: 150px 0;
  }
  .main-banner-bakery h1 {
    font-size: 35px;
  }
  .right-left-bakery {
    padding: 80px 0;
  }
  .bakery-grid {
    padding: 20px 0;
  }
  .bakery-grid h4 {
    font-size: 17px;
  }
  .card-2-coffee h2 {
    font-size: 25px;
  }
  .insc {
    padding: 15px 15px;
  }
  .gallery1 {
    padding-bottom: 30px;
  }
  .insc {
    background-color: #fff;
  }
  .pop-up input[name=email] {
    background-color: #fff;
  }
}
@media only screen and (max-width: 480px) {
  .popup-content #close-btn {
    padding: 0px 5px;
  }
  .insc {
    padding: 8px 10px;
  }
  .main-banner-bakery {
    padding: 100px 0;
  }
  .right-left-bakery {
    padding: 70px 0;
  }
  .main-banner-bakery h1 {
    font-size: 30px;
  }
  .bakery-grid .coffee-grid-parent {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
  .bakery-grid {
    padding: 18px 0;
  }
  .bakery-grid h4 {
    font-size: 14px;
  }
  .card-2-coffee h2 {
    font-size: 23px;
  }
  .insc {
    background-color: #fff;
  }
  .about-section .right-side {
    text-align: center;
  }
  .about-section .right-side h2 {
    text-align: center;
  }
  .header-menu a {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .pop-up input[name=email] {
    background-color: #fff;
  }
}